* {
  text-align: center;
  list-style: none;
  padding: 0;
}

.food {
  display: flex;
  flex-direction: row;
}

.food > ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid black;
}

.breeds {
  font-size: 1.25rem;
  border-top: 1px solid black;
}


.type {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: normal;
  border-top: 1px solid black;
}

.type > ul:first-child {
  border-right: 1px solid black;

}

.volumes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid black;
}

.volumes > ul:first-child > li {
  border-right: 1px solid black;
}

.volumes > ul:nth-child(3) > li {
  border-left: 1px solid black;
}

li {
  padding: 5px;
}
